<!-- Editing Post Section -->
<section class="card editPostSection" data-postId={{id}}>
    <!-- Title and Details -->
    <div class="level">
        <!-- Title Section -->
        <div class="level-left has-background-info-light">
            <!-- Title of the Post -->
            <header class="is-size-3 has-text-weight-medium editTitle">Editing Post: {{title}}</header>
        </div>
        <!-- Post Details Section -->
        <div class="level-right">
            <!-- Post Creator and Creation Date -->
            <p class="is-italic">Posted by {{user.username}} on {{format_date dateCreated}}</p> <!-- changed date_created to dateCreated -->
        </div>
    </div>

    <!-- Post Edit Form -->
    <form class="editPost"> <!-- changed edit-post to editPost -->
        <!-- Post Description Input -->
        <textarea class="postDescription textarea is-normal" id="updateInput" name="editPostDescription">{{description}}</textarea> <!-- changed names and ids to camelCase -->
        <!-- Save Changes Button -->
        <button type="submit" class="button is-info" id="editButton">Save Changes</button> <!-- changed edit-btn to editButton -->
    </form>
</section>

<!-- Edit Post Script -->
<script src="/js/edit.js"></script>
