<!-- Main Post Section -->
<section class="box p-5">
    <!-- Post Header -->
    <div class="level">
        <div class="level-left has-background-info-light">
            <h2 class="is-size-3 has-text-weight-medium">{{ title }}</h2>
        </div>
        <div class="level-right">
            <p class="is-italic">Posted by {{ user.username }} on {{ format_date dateCreated }}</p> 
        </div>
    </div>

    <!-- Post Description -->
    <p class="post-description">{{ description }}</p>
</section>

<!-- Comments Section -->
<section class="box mt-5">
    <h4 class="is-size-4">Discussion:</h4> 
        {{#each comments as |comment|}}
        <section class="card comment-section p-3">
            <div class="level">
                <!-- Comment Text -->
                <div class="level-left">
                    <h4>{{ comment.commentText }}</h4> 
                </div>
                <!-- Comment Metadata -->
                <div class="level-right">
                    <p class="is-italic">Commented by {{ comment.user.username }} on {{ format_date comment.dateCreated }}</p> 
                </div>
            </div>
        </section>
        {{/each}}

        <!-- Comment Form -->
        <section class="card">
            <form class="comment-form" data-postId={{ id }}> 
                <input class="input is-normal" type="text" id="comment-input" placeholder="Join the discussion..."/> 
                <button class="button is-info is-small m-2" type="submit" id="comment-btn">Submit</button> 
            </form>
        </section>
    </div>
</section>

<!-- Include Comment Script -->
<script src="/js/comment.js"></script>
